#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:absolute;
	background:url("faq.png") no-repeat;
	width:320px;
	height:400px;
	border:0px solid #000;
	z-index: 9002;
}

#popUpDiv a {position:relative; top:12px; left:210px}
